.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
configure
depcomp
exe
holtz.ncb
holtz.opt
holtz
holtz-*
build*
login_sourceforge_ssh.sh
install-sh
missing
*~
dist_win_all.sh
