aclocal.m4 AUTHORS autogen.sh autom4te.cache bloks build build-mingw64 ChangeLog ChangeLog.txt common config.guess config.sub configure configure.ac COPYING depcomp dist_win64.sh dist_win64.sh~ dist_win_all.sh dist_win.sh docs dvonn help holtz.ico holtz.rc holtz.sln holtz.spec holtz.vcproj holtz-win32 holtz-win32-cross64 holtz-win32-cygwin holtz-win32-mingw htdocs icon.xpm INSTALL install-sh install-win32 line_net.cpp line_net.hpp locale login_sourceforge_ssh.sh Makefile.am Makefile.in missing msg_net.hpp msg_net_templ.cpp NEWS README relax Rules.english Rules.german skins sounds TODO util.cpp util.hpp wxholtz.cpp wxholtz.hpp wxmain.cpp wxmain.hpp wxutil.cpp wxutil.hpp zertz
